.com-article-text {
	display: flex;
	width: 100%;
	padding: 32px;
	gap: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 16px;
	background: $color-neutral-base-background;
}
