.mod-search-result {
	display: flex;
	width: 100%;
	padding: 32px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-bottom: 1px solid $color-neutral-line-light;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		color: $color-text-secondary-light;
		.header_star--hide {
			display: none;
		}
		.header_star--show {
			display: flex;
		}
		@media only screen and (max-width: 846px) {
			.header_star--hide {
				display: flex;
			}
			.header_star--show {
				display: none;
			}
		}
	}
	&__main-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
		.header {
			color: $color-primary-default;
			font-weight: 600;
		}
		.link-container {
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 14px;
			& > a:hover,
			a:visited,
			a:link,
			a:active {
				text-decoration: none;
				color: $color-primary-default;
			}
		}
	}
}
