.com-text {
	text-align: left;
	color: $black;
	font-size: $font-base-size;
	&--gray {
		color: $color-text-secondary-light;
	}
	&--ligth-gray {
		color: $color-neutral-base-background-light;
	}
	&.center {
		text-align: center;
	}
}
