.mod-dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	border-radius: 8px;
	padding: 8px 0;
	box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
	&.horizontal {
		flex-direction: row;
	}
	&__item {
		padding: 14px 16px;
		align-items: center;
		align-self: stretch;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background-color: $color-neutral-secondary-background;
		}
		&.horizontal {
			width: 100%;
			display: flex;
		}
		&.link {
			color: $color-primary-default;
			font-size: 14px;
			font-weight: 600;
			text-decoration: underline;
		}
		&.divider {
			padding: 14px 0px;
			hr.com-divider {
				border-top: 1px solid #ced7de;
			}
			&:hover {
				background-color: unset;
				cursor: unset;
			}
		}
		.com-btn.btn {
			width: 100%;
		}
	}
}
