.icon-addOutline {
	@include icon;
	-webkit-mask-image: url("icons/addOutline.svg");
	mask-image: url("icons/addOutline.svg");
}
.icon-call {
	@include icon;
	-webkit-mask-image: url("icons/call.svg");
	mask-image: url("icons/call.svg");
}
.icon-flag {
	@include icon;
	-webkit-mask-image: url("icons/flag.svg");
	mask-image: url("icons/flag.svg");
}
.icon-alignCenter {
	@include icon;
	-webkit-mask-image: url("icons/alignCenter.svg");
	mask-image: url("icons/alignCenter.svg");
}
.icon-alignJustify {
	@include icon;
	-webkit-mask-image: url("icons/alignJustify.svg");
	mask-image: url("icons/alignJustify.svg");
}
.icon-alignLeft {
	@include icon;
	-webkit-mask-image: url("icons/alignLeft.svg");
	mask-image: url("icons/alignLeft.svg");
}
.icon-alignRight {
	@include icon;
	-webkit-mask-image: url("icons/alignRight.svg");
	mask-image: url("icons/alignRight.svg");
}
.icon-android {
	@include icon;
	-webkit-mask-image: url("icons/android.svg");
	mask-image: url("icons/android.svg");
}
.icon-apple {
	@include icon;
	-webkit-mask-image: url("icons/apple.svg");
	mask-image: url("icons/apple.svg");
}
.icon-arrowDown {
	@include icon;
	-webkit-mask-image: url("icons/arrowDown.svg");
	mask-image: url("icons/arrowDown.svg");
}
.icon-arrowLeft {
	@include icon;
	-webkit-mask-image: url("icons/arrowLeft.svg");
	mask-image: url("icons/arrowLeft.svg");
}
.icon-arrowRight {
	@include icon;
	-webkit-mask-image: url("icons/arrowRight.svg");
	mask-image: url("icons/arrowRight.svg");
}
.icon-arrowUp {
	@include icon;
	-webkit-mask-image: url("icons/arrowUp.svg");
	mask-image: url("icons/arrowUp.svg");
}
.icon-attachFile {
	@include icon;
	-webkit-mask-image: url("icons/attachFile.svg");
	mask-image: url("icons/attachFile.svg");
}
.icon-audioOff {
	@include icon;
	-webkit-mask-image: url("icons/audioOff.svg");
	mask-image: url("icons/audioOff.svg");
}
.icon-audioOn {
	@include icon;
	-webkit-mask-image: url("icons/audioOn.svg");
	mask-image: url("icons/audioOn.svg");
}
.icon-batch {
	@include icon;
	-webkit-mask-image: url("icons/batch.bat");
	mask-image: url("icons/batch.bat");
}
.icon-behance {
	@include icon;
	-webkit-mask-image: url("icons/behance.svg");
	mask-image: url("icons/behance.svg");
}
.icon-bold {
	@include icon;
	-webkit-mask-image: url("icons/bold.svg");
	mask-image: url("icons/bold.svg");
}
.icon-bulb {
	@include icon;
	-webkit-mask-image: url("icons/bulb.svg");
	mask-image: url("icons/bulb.svg");
}
.icon-business {
	@include icon;
	-webkit-mask-image: url("icons/business.svg");
	mask-image: url("icons/business.svg");
}
.icon-calendarDateRange {
	@include icon;
	-webkit-mask-image: url("icons/calendarDateRange.svg");
	mask-image: url("icons/calendarDateRange.svg");
}
.icon-calendayToday {
	@include icon;
	-webkit-mask-image: url("icons/calendayToday.svg");
	mask-image: url("icons/calendayToday.svg");
}
.icon-cancel {
	@include icon;
	-webkit-mask-image: url("icons/cancel.svg");
	mask-image: url("icons/cancel.svg");
}
.icon-category {
	@include icon;
	-webkit-mask-image: url("icons/category.svg");
	mask-image: url("icons/category.svg");
}
.icon-check {
	@include icon;
	-webkit-mask-image: url("icons/check.svg");
	mask-image: url("icons/check.svg");
}
.icon-checkCircle {
	@include icon;
	-webkit-mask-image: url("icons/checkCircle.svg");
	mask-image: url("icons/checkCircle.svg");
}
.icon-chevronDown {
	@include icon;
	-webkit-mask-image: url("icons/chevronDown.svg");
	mask-image: url("icons/chevronDown.svg");
}
.icon-chevronLeft {
	@include icon;
	-webkit-mask-image: url("icons/chevronLeft.svg");
	mask-image: url("icons/chevronLeft.svg");
}
.icon-chevronRight {
	@include icon;
	-webkit-mask-image: url("icons/chevronRight.svg");
	mask-image: url("icons/chevronRight.svg");
}
.icon-chevronUp {
	@include icon;
	-webkit-mask-image: url("icons/chevronUp.svg");
	mask-image: url("icons/chevronUp.svg");
}
.icon-close {
	@include icon;
	-webkit-mask-image: url("icons/close.svg");
	mask-image: url("icons/close.svg");
}
.icon-colorText {
	@include icon;
	-webkit-mask-image: url("icons/colorText.svg");
	mask-image: url("icons/colorText.svg");
}
.icon-contentCopy {
	@include icon;
	-webkit-mask-image: url("icons/contentCopy.svg");
	mask-image: url("icons/contentCopy.svg");
}
.icon-delete {
	@include icon;
	-webkit-mask-image: url("icons/delete.svg");
	mask-image: url("icons/delete.svg");
}
.icon-description {
	@include icon;
	-webkit-mask-image: url("icons/description.svg");
	mask-image: url("icons/description.svg");
}
.icon-directionDown {
	@include icon;
	-webkit-mask-image: url("icons/directionDown.svg");
	mask-image: url("icons/directionDown.svg");
}
.icon-directionLeft {
	@include icon;
	-webkit-mask-image: url("icons/directionLeft.svg");
	mask-image: url("icons/directionLeft.svg");
}
.icon-directionRight {
	@include icon;
	-webkit-mask-image: url("icons/directionRight.svg");
	mask-image: url("icons/directionRight.svg");
}
.icon-directionUp {
	@include icon;
	-webkit-mask-image: url("icons/directionUp.svg");
	mask-image: url("icons/directionUp.svg");
}
.icon-done {
	@include icon;
	-webkit-mask-image: url("icons/done.svg");
	mask-image: url("icons/done.svg");
}
.icon-download {
	@include icon;
	-webkit-mask-image: url("icons/download.svg");
	mask-image: url("icons/download.svg");
}
.icon-dribbble {
	@include icon;
	-webkit-mask-image: url("icons/dribbble.svg");
	mask-image: url("icons/dribbble.svg");
}
.icon-dropbox {
	@include icon;
	-webkit-mask-image: url("icons/dropbox.svg");
	mask-image: url("icons/dropbox.svg");
}
.icon-edit {
	@include icon;
	-webkit-mask-image: url("icons/edit.svg");
	mask-image: url("icons/edit.svg");
}
.icon-email {
	@include icon;
	-webkit-mask-image: url("icons/email.svg");
	mask-image: url("icons/email.svg");
}
.icon-error {
	@include icon;
	-webkit-mask-image: url("icons/error.svg");
	mask-image: url("icons/error.svg");
}
.icon-exit {
	@include icon;
	-webkit-mask-image: url("icons/exit.svg");
	mask-image: url("icons/exit.svg");
}
.icon-facebook {
	@include icon;
	-webkit-mask-image: url("icons/facebook.svg");
	mask-image: url("icons/facebook.svg");
}
.icon-filterList {
	@include icon;
	-webkit-mask-image: url("icons/filterList.svg");
	mask-image: url("icons/filterList.svg");
}
.icon-folderOpen {
	@include icon;
	-webkit-mask-image: url("icons/folderOpen.svg");
	mask-image: url("icons/folderOpen.svg");
}
.icon-fontsize {
	@include icon;
	-webkit-mask-image: url("icons/fontsize.svg");
	mask-image: url("icons/fontsize.svg");
}
.icon-fullscreen {
	@include icon;
	-webkit-mask-image: url("icons/fullscreen.svg");
	mask-image: url("icons/fullscreen.svg");
}
.icon-github {
	@include icon;
	-webkit-mask-image: url("icons/github.svg");
	mask-image: url("icons/github.svg");
}
.icon-google {
	@include icon;
	-webkit-mask-image: url("icons/google.svg");
	mask-image: url("icons/google.svg");
}
.icon-heartOff {
	@include icon;
	-webkit-mask-image: url("icons/heartOff.svg");
	mask-image: url("icons/heartOff.svg");
}
.icon-heartOn {
	@include icon;
	-webkit-mask-image: url("icons/heartOn.svg");
	mask-image: url("icons/heartOn.svg");
}
.icon-help {
	@include icon;
	-webkit-mask-image: url("icons/help.svg");
	mask-image: url("icons/help.svg");
}
.icon-home {
	@include icon;
	-webkit-mask-image: url("icons/home.svg");
	mask-image: url("icons/home.svg");
}
.icon-image {
	@include icon;
	-webkit-mask-image: url("icons/image.svg");
	mask-image: url("icons/image.svg");
}
.icon-info {
	@include icon;
	-webkit-mask-image: url("icons/info.svg");
	mask-image: url("icons/info.svg");
}
.icon-insertLink {
	@include icon;
	-webkit-mask-image: url("icons/insertLink.svg");
	mask-image: url("icons/insertLink.svg");
}
.icon-instagram {
	@include icon;
	-webkit-mask-image: url("icons/instagram.svg");
	mask-image: url("icons/instagram.svg");
}
.icon-italic {
	@include icon;
	-webkit-mask-image: url("icons/italic.svg");
	mask-image: url("icons/italic.svg");
}
.icon-language {
	@include icon;
	-webkit-mask-image: url("icons/language.svg");
	mask-image: url("icons/language.svg");
}
.icon-less {
	@include icon;
	-webkit-mask-image: url("icons/less.svg");
	mask-image: url("icons/less.svg");
}
.icon-linkedin {
	@include icon;
	-webkit-mask-image: url("icons/linkedin.svg");
	mask-image: url("icons/linkedin.svg");
}
.icon-listBulletPoint {
	@include icon;
	-webkit-mask-image: url("icons/listBulletPoint.svg");
	mask-image: url("icons/listBulletPoint.svg");
}
.icon-listNumbered {
	@include icon;
	-webkit-mask-image: url("icons/listNumbered.svg");
	mask-image: url("icons/listNumbered.svg");
}
.icon-location {
	@include icon;
	-webkit-mask-image: url("icons/location.svg");
	mask-image: url("icons/location.svg");
}
.icon-lockOff {
	@include icon;
	-webkit-mask-image: url("icons/lockOff.svg");
	mask-image: url("icons/lockOff.svg");
}
.icon-lockOn {
	@include icon;
	-webkit-mask-image: url("icons/lockOn.svg");
	mask-image: url("icons/lockOn.svg");
}
.icon-menu {
	@include icon;
	-webkit-mask-image: url("icons/menu.svg");
	mask-image: url("icons/menu.svg");
}
.icon-menuOpen {
	@include icon;
	-webkit-mask-image: url("icons/menuOpen.svg");
	mask-image: url("icons/menuOpen.svg");
}
.icon-money {
	@include icon;
	-webkit-mask-image: url("icons/money.svg");
	mask-image: url("icons/money.svg");
}
.icon-more {
	@include icon;
	-webkit-mask-image: url("icons/more.svg");
	mask-image: url("icons/more.svg");
}
.icon-moreServices {
	@include icon;
	-webkit-mask-image: url("icons/moreServices.svg");
	mask-image: url("icons/moreServices.svg");
}
.icon-notificationActive {
	@include icon;
	-webkit-mask-image: url("icons/notificationActive.svg");
	mask-image: url("icons/notificationActive.svg");
}
.icon-notificationNone {
	@include icon;
	-webkit-mask-image: url("icons/notificationNone.svg");
	mask-image: url("icons/notificationNone.svg");
}
.icon-notificationOff {
	@include icon;
	-webkit-mask-image: url("icons/notificationOff.svg");
	mask-image: url("icons/notificationOff.svg");
}
.icon-openInNew {
	@include icon;
	-webkit-mask-image: url("icons/openInNew.svg");
	mask-image: url("icons/openInNew.svg");
}
.icon-outgoingLink {
	@include icon;
	-webkit-mask-image: url("icons/outgoingLink.svg");
	mask-image: url("icons/outgoingLink.svg");
}
.icon-overview {
	@include icon;
	-webkit-mask-image: url("icons/overview.svg");
	mask-image: url("icons/overview.svg");
}
.icon-pause {
	@include icon;
	-webkit-mask-image: url("icons/pause.svg");
	mask-image: url("icons/pause.svg");
}
.icon-payment {
	@include icon;
	-webkit-mask-image: url("icons/payment.svg");
	mask-image: url("icons/payment.svg");
}
.icon-pdf {
	@include icon;
	-webkit-mask-image: url("icons/pdf.svg");
	mask-image: url("icons/pdf.svg");
}
.icon-person {
	@include icon;
	-webkit-mask-image: url("icons/person.svg");
	mask-image: url("icons/person.svg");
}
.icon-place {
	@include icon;
	-webkit-mask-image: url("icons/place.svg");
	mask-image: url("icons/place.svg");
}
.icon-placeholder {
	@include icon;
	-webkit-mask-image: url("icons/placeholder.svg");
	mask-image: url("icons/placeholder.svg");
}
.icon-play {
	@include icon;
	-webkit-mask-image: url("icons/play.svg");
	mask-image: url("icons/play.svg");
}
.icon-playCircle {
	@include icon;
	-webkit-mask-image: url("icons/playCircle.svg");
	mask-image: url("icons/playCircle.svg");
}
.icon-print {
	@include icon;
	-webkit-mask-image: url("icons/print.svg");
	mask-image: url("icons/print.svg");
}
.icon-printDisabled {
	@include icon;
	-webkit-mask-image: url("icons/printDisabled.svg");
	mask-image: url("icons/printDisabled.svg");
}
.icon-reddit {
	@include icon;
	-webkit-mask-image: url("icons/reddit.svg");
	mask-image: url("icons/reddit.svg");
}
.icon-refresh {
	@include icon;
	-webkit-mask-image: url("icons/refresh.svg");
	mask-image: url("icons/refresh.svg");
}
.icon-reply {
	@include icon;
	-webkit-mask-image: url("icons/reply.svg");
	mask-image: url("icons/reply.svg");
}
.icon-search {
	@include icon;
	-webkit-mask-image: url("icons/search.svg");
	mask-image: url("icons/search.svg");
}
.icon-send {
	@include icon;
	-webkit-mask-image: url("icons/send.svg");
	mask-image: url("icons/send.svg");
}
.icon-settings {
	@include icon;
	-webkit-mask-image: url("icons/settings.svg");
	mask-image: url("icons/settings.svg");
}
.icon-share {
	@include icon;
	-webkit-mask-image: url("icons/share.svg");
	mask-image: url("icons/share.svg");
}
.icon-sort {
	@include icon;
	-webkit-mask-image: url("icons/sort.svg");
	mask-image: url("icons/sort.svg");
}
.icon-sparePartFinder {
	@include icon;
	-webkit-mask-image: url("icons/sparePartFinder.svg");
	mask-image: url("icons/sparePartFinder.svg");
}
.icon-starEmtpy {
	@include icon;
	-webkit-mask-image: url("icons/starEmtpy.svg");
	mask-image: url("icons/starEmtpy.svg");
}
.icon-starFull {
	@include icon;
	-webkit-mask-image: url("icons/starFull.svg");
	mask-image: url("icons/starFull.svg");
}
.icon-strikethrough {
	@include icon;
	-webkit-mask-image: url("icons/strikethrough.svg");
	mask-image: url("icons/strikethrough.svg");
}
.icon-subArrow {
	@include icon;
	-webkit-mask-image: url("icons/subArrow.svg");
	mask-image: url("icons/subArrow.svg");
}
.icon-thumbDown {
	@include icon;
	-webkit-mask-image: url("icons/thumbDown.svg");
	mask-image: url("icons/thumbDown.svg");
}
.icon-thumbUp {
	@include icon;
	-webkit-mask-image: url("icons/thumbUp.svg");
	mask-image: url("icons/thumbUp.svg");
}
.icon-upload {
	@include icon;
	-webkit-mask-image: url("icons/upload.svg");
	mask-image: url("icons/upload.svg");
}
.icon-visabilityOff {
	@include icon;
	-webkit-mask-image: url("icons/visabilityOff.svg");
	mask-image: url("icons/visabilityOff.svg");
}
.icon-visabilityOn {
	@include icon;
	-webkit-mask-image: url("icons/visabilityOn.svg");
	mask-image: url("icons/visabilityOn.svg");
}
.icon-volume {
	@include icon;
	-webkit-mask-image: url("icons/volume.svg");
	mask-image: url("icons/volume.svg");
}
.icon-warning {
	@include icon;
	-webkit-mask-image: url("icons/warning.svg");
	mask-image: url("icons/warning.svg");
}
.icon-wrench {
	@include icon;
	-webkit-mask-image: url("icons/wrench.svg");
	mask-image: url("icons/wrench.svg");
}
.icon-youtube {
	@include icon;
	-webkit-mask-image: url("icons/youtube.svg");
	mask-image: url("icons/youtube.svg");
}
.icon-zoom {
	@include icon;
	-webkit-mask-image: url("icons/zoom.svg");
	mask-image: url("icons/zoom.svg");
}
.icon-hellagutmann {
	display: inline-block;
	background-color: $color-neutral-primary-background;
	text-align: center;
	-webkit-mask-image: url("icons/hellagutmann.svg");
	mask-image: url("icons/hellagutmann.svg");
}
.icon-hella {
	background-image: url("icons/hella.png");
}
