// Font
$font: "Open Sans";
$font-base-size: 16px;
$font-h1: 2.125rem; //34px
$font-h2: 1.625rem; //26px
$font-h3: 1.25rem; //20px
$font-h4: 0.938rem; //15px

// Neutral colors
$color-neutral-primary-background: #ffffff;
$color-neutral-base-background: #f8f8f9;
$color-neutral-secondary-background: #f0f2f3;
$color-neutral-line-light: #ced7de;
$color-neutral-line-dark: #9ea9b0;
$color-neutral-secondary-background-dark: #5e707d;
$color-neutral-primary-background-dark: #353d43;
$color-neutral-primary-background-ligth: #434446;
$color-neutral-base-background-dark: hsla(210, 8%, 5%, 0.76);

$color-neutral-base-background-light: #6d6d6e;

// Gutmann
$color-neutral-primary-gutmann: #007d40;
$color-neutral-secondary-gutmann: #e6f2ec;

// Primary
$color-primary-background: #cfd3e0;
$color-primary-hover: #273974;
$color-primary-default: #0f2364;
$color-primary-pressed: #0b1946;

// Secondary
$color-secondary-background: #fff7d9;
$color-secondary-hover: #ffd745;
$color-secondary-default: #ffc800;
$color-secondary-pressed: #f3bb00;

// Success
$color-success-background: #edfdf8;
$color-success-hover: #04724d;
$color-success-default: #08875d;
$color-success-pressed: #066042;

// Warning
$color-warning-background: #fff8eb;
$color-warning-hover: #96530f;
$color-warning-default: #b25e09;
$color-warning-pressed: #80460d;

// Danger
$color-danger-background: #fef1f2;
$color-danger-hover: #ba2532;
$color-danger-default: #e02d3c;
$color-danger-pressed: #981b25;

// Text + icon
$color-text-primary: hsla(210, 8%, 5%, 0.733);
$color-text-secondary: rgba(11, 12, 13, 0.76);
$color-text-secondary-light: #454647;
$color-text-disabled: rgba(11, 12, 13, 0.6);
$color-text-dark-mode-primary: #ffffff;
$color-text-dark-mode-secondary: rgba(255, 255, 255, 0.75);
$color-text-dark-mode-disabled: rgba(255, 255, 255, 0.6);

// Button
$color-btn-primary-dark: #0b0c0d;
$color-btn-secondary-dark: #030714;

$black: #000000;

// Grid
$grid-gap: 24px;
$grid-mobile-gap: 16px;

$grid-column-max: 14;
$grid-column-tablet-max: 8;
$grid-column-mobile-max: 2;

$grid-padding-mobile: 16px;

$grid-row-xs: 80px;
$grid-row-xs-mobile: 48px;
$grid-row-sm: 100px;
$grid-row-sm-mobile: 60px;
$grid-row-md: 120px;
$grid-row-md-mobile: 72px;

$grid-self-type: "start", "end", "center", "stretch";
$grid-content-space: "space-around", "space-between", "space-evenly";

// Content max-width
$max-content-xl-width: 1556px;
$max-content-width: 1152px;
$max-content-tablet-width: 848px;
$max-content-mobile-max-width: 398px;
$max-content-mobile-min-width: 344px;

// Content spacer
$spacer-default: 100px;
$spacer-default-mobile: 80px;
$spacer-small: 80px;
$spacer-small-mobile: 48px;
$spacer-large: 120px;
$spacer-large-mobile: 72px;
