/* Slideshow container */
.mod-carousel {
	width: 536px;
	position: relative;
	margin: auto;
	@media only screen and (max-width: 846px) {
		width: 350px;
	}

	&.full-width {
		width: 100%;
	}

	&.withou-border > .mod-carousel__slides img {
		border: none;
	}

	&.zoomed {
		position: fixed;
		top: 15%;
		left: 25%;
		margin-right: 25%;
		z-index: 1000;
		scale: 1.1;
		// width: unset;
		width: -webkit-fill-available;
		@media only screen and (max-width: 846px) {
			scale: 1.3;
		}
	}

	/* Hide the images by default */
	.mod-carousel__slides {
		display: flex;
		flex-direction: column;
		.slide-image {
			border: 1px solid $color-neutral-line-light;
			border-radius: 8px;
			width: 100%;
		}
	}

	/* Next & previous buttons */
	.previous-slide,
	.next-slide {
		cursor: pointer;
		position: absolute;
		top: 170px;
		width: auto;
		margin-top: -22px;
		padding: 6px 3px 2px 3px;
		transition: 0.3s ease;
		border-radius: 3px;
		background-color: $color-neutral-secondary-background;
		@media only screen and (max-width: 846px) {
			margin-top: -64px;
		}
	}

	.carousel-zoom {
		cursor: pointer;
		position: absolute;
		bottom: 7%;
		right: 2.5%;
		@media only screen and (max-width: 846px) {
			bottom: 8%;
			right: 1.5%;
		}
		&.with-captions {
			bottom: 14%;
			@media only screen and (max-width: 846px) {
				bottom: 18%;
			}
		}
		&.with-thumbnails {
			bottom: 35%;
			@media only screen and (max-width: 846px) {
				bottom: 44%;
			}
		}
	}

	/* Position the "next button" to the right */
	.next-slide {
		right: 1%;
	}

	.previous-slide {
		left: 1%;
	}

	/* On hover, add a black background color with a little bit see-through */
	.previous-slide:hover,
	.next-slide:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__thumbnails {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		width: 100%;
		overflow-x: scroll;
		position: relative;
		gap: 8px;
		height: 130px;

		.thumbnails-image {
			width: 165px;
			cursor: pointer;
			height: auto;
			border: 1px solid $color-neutral-line-light;
			border-radius: 8px;
		}
	}

	::-webkit-scrollbar {
		height: 5px;
	}

	::-webkit-scrollbar-track {
		background: none;
	}

	::-webkit-scrollbar-thumb {
		background: $color-neutral-line-light;
		border-radius: 8px;
	}

	/* Caption text */
	.text {
		color: black;
		font-size: 15px;
		padding: 8px 12px;
		bottom: 8px;
		width: 100%;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: black;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	.carousel-close-icon {
		color: black;
		position: absolute;
		top: 8px;
		right: 12px;
		z-index: 1000;
		cursor: pointer;
	}

	&__dots {
		text-align: center;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 3px;
		width: 32px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 8px;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.dot:hover {
		background-color: #717171;
	}

	.active {
		background-color: $color-secondary-default;
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}
}

.overlay-carousel {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}
