.mod-navigation-teaser-fs {
	display: grid;
	@media only screen and (min-width: $max-content-width) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	&__item {
		margin: 12px 0;
		@media only screen and (min-width: $max-content-width) {
			-ms-grid-column-end: auto !important;
			grid-column-end: auto !important;
		}
	}
}
