.sys-mod-footer {
	width: 100%;
	display: grid;

	.info-banner {
		@include padding(5, 6);
		gap: fromPxToRem(8);
		min-height: fromPxToRem(107);
		background-color: $color-neutral-base-background;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 1 0 0;
		border-radius: 1rem;

		@media only screen and (max-width: $max-content-tablet-width) {
			padding: fromPxToRem(32) fromPxToRem(16) fromPxToRem(32) fromPxToRem(16);
		}

		.container {
			display: flex;
			align-items: flex-start;
			gap: fromPxToRem(80);
			align-self: stretch;

			@media only screen and (max-width: $max-content-width) {
				flex-direction: column;
			}

			@media only screen and (max-width: $max-content-tablet-width) {
				gap: fromPxToRem(32);
			}

			.left__container,
			.right__container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: fromPxToRem(24);
				flex: 1 0 0;
			}

			.left__container h3 .com-icon {
				vertical-align: top;
				height: fromPxToRem(22);
			}

			.left__container p {
				color: $color-text-disabled;
				line-height: 150%;
			}

			.right__container {
				gap: fromPxToRem(20);

				@media only screen and (max-width: $max-content-width) {
					width: 100%;
				}

				.com-form {
					display: flex;
					gap: fromPxToRem(8);

					.com-form__input {
						width: 70%;
					}

					button {
						width: 30%;
						margin: fromPxToRem(8) 0;
					}

					@media only screen and (max-width: $max-content-width) {
						display: block;

						.com-form__input {
							width: 100%;
						}
						button {
							width: 100%;
						}
					}
				}
			}

			.right__container .links {
				font-size: fromPxToRem(14);
				font-style: normal;
				font-weight: 400;
				line-height: 150%;

				@media only screen and (max-width: $max-content-width) {
					margin: 0 auto;
				}

				a {
					color: $color-primary-default;
					display: inline-block;
					text-decoration: underline;
					@include variant-gutmann(".sys-mod-footer") {
						.info-banner .container .right__container .links a {
							color: $color-neutral-primary-gutmann;
						}
					}
				}
			}
		}
	}

	.footer {
		display: flex;
		padding: fromPxToRem(48);
		align-items: flex-start;
		gap: fromPxToRem(60);

		@media only screen and (max-width: $max-content-tablet-width) {
			padding: fromPxToRem(32) fromPxToRem(16) fromPxToRem(32) fromPxToRem(16);
		}

		.footer__nav {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: fromPxToRem(24);
			flex: 1 0 0;
			position: relative;

			@media only screen and (max-width: $max-content-width) {
				display: none;

				&.social {
					display: flex;
				}
			}

			.footer-headline {
				font-weight: 700;
				line-height: 150%;
				color: $color-btn-primary-dark;
			}

			.footer-text {
				font-size: fromPxToRem(14);
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
				color: $color-text-disabled;
			}

			.footer-service-link {
				font-weight: 400;
				line-height: 150%;
				color: $color-primary-default;
				display: flex;
				align-items: center;
				gap: fromPxToRem(6);
				align-self: stretch;

				@include variant-gutmann(".sys-mod-footer") {
					.footer .footer__nav .footer-service-link {
						color: $color-neutral-primary-gutmann;
					}
				}
			}

			ul {
				margin-bottom: fromPxToRem(48);

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			li {
				display: flex;
				align-items: center;
				gap: fromPxToRem(10);
				align-self: stretch;
				margin-bottom: fromPxToRem(28);
				height: fromPxToRem(11);

				&:last-of-type {
					margin-bottom: 0;
				}

				a {
					color: $color-primary-default;
					font-weight: 400;
					line-height: 150%;
					@include variant-gutmann(".sys-mod-footer") {
						.footer .footer__nav li a {
							color: $color-neutral-primary-gutmann;
						}
					}
				}
			}

			&.social {
				a.top {
					color: $color-text-secondary;
					text-transform: uppercase;
					font-size: fromPxToRem(15);
					font-weight: 700;
					line-height: 150%;
					letter-spacing: 0.15px;
					margin-bottom: fromPxToRem(16);
				}

				& > p {
					margin-bottom: fromPxToRem(24);
					color: $color-text-secondary;
				}

				.icons {
					display: flex;
					align-items: flex-start;
					gap: fromPxToRem(40);
					align-self: stretch;

					&:last-of-type {
						margin-bottom: 0;

						@media only screen and (max-width: $max-content-tablet-width) {
							height: fromPxToRem(48);
						}
					}

					@media only screen and (max-width: $max-content-tablet-width) {
						margin-bottom: fromPxToRem(24);
					}
				}

				.social-media {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: fromPxToRem(24);
					align-self: stretch;

					p {
						color: $color-text-secondary;
						text-transform: uppercase;
						font-size: fromPxToRem(15);
						font-weight: 700;
						line-height: 150%;
						letter-spacing: 0.15px;
					}

					.icons {
						display: flex;
						align-items: flex-start;
						gap: fromPxToRem(23);

						a {
							display: flex;
							width: fromPxToRem(48);
							height: fromPxToRem(48);
							justify-content: center;
							align-items: center;
							gap: fromPxToRem(8);
							border-radius: fromPxToRem(100);
							background: $color-primary-default;

							.com-icon {
								background-color: #fff;
							}

							@include variant-gutmann(".sys-mod-footer") {
								.footer .footer__nav.social .social-media .icons a {
									background: $color-neutral-primary-gutmann;
								}
							}
						}
					}
				}

				.anchor {
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;
					gap: fromPxToRem(4);
					flex: 1 0 0;
					align-self: stretch;

					a {
						color: $color-primary-default;
						text-transform: uppercase;
						font-size: fromPxToRem(15);
						font-weight: 700;
						line-height: 150%;
						letter-spacing: 0.15px;

						span {
							background-color: $color-primary-default;
							position: relative;
							top: fromPxToRem(7);
						}
					}
				}
			}
		}
	}

	.copy-right {
		height: fromPxToRem(34);
		background-color: $color-primary-default;
		@include padding(1, 5);
		gap: fromPxToRem(4);
		grid-template-columns: 25% 1fr 25%;
		display: grid;
		color: $color-neutral-primary-background;
		@include variant-gutmann(".sys-mod-footer") {
			.copy-right {
				background-color: $color-neutral-primary-gutmann;
			}
		}

		@media (prefers-color-scheme: dark) {
			background-color: $color-neutral-primary-background;
			color: $color-primary-default;
		}

		@media only screen and (max-width: $max-content-width) {
			height: auto;
			gap: fromPxToRem(16);
			padding: 24px 16px;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			align-self: stretch;
			grid-template-columns: 1fr;
		}

		.links,
		.language {
			gap: fromPxToRem(44);
			display: flex;

			a {
				color: $color-neutral-primary-background;
				font-size: 14px;
				font-weight: 600;
				line-height: 21px;

				@media (prefers-color-scheme: dark) {
					color: $color-primary-default;
				}

				span {
					background-color: $color-neutral-primary-background;
					position: relative;
					top: 7px;
				}
			}
		}

		@media only screen and (max-width: $max-content-width) {
			.links {
				a.language-link {
					position: relative;
					top: -7px;
				}
			}
		}

		@media only screen and (max-width: $max-content-tablet-width) {
			.links {
				gap: 24px;
				flex-wrap: wrap;

				a {
					max-width: 46%;
					flex: 50%;

					&.language-link {
						position: relative;
						top: -7px;
					}
				}
			}
		}

		.text {
			color: $color-text-dark-mode-secondary;
			text-align: center;
			font-size: 14px;
			font-weight: 600;
			line-height: 150%;

			@media only screen and (max-width: $max-content-tablet-width) {
				text-align: left;
			}
		}

		.language {
			text-transform: uppercase;
			justify-items: center;
			justify-content: end;

			@media only screen and (max-width: $max-content-tablet-width) {
				display: none;
			}

			a {
				margin-top: -8px;
			}
		}
	}
}
