.mod-instruction-title {
	width: 100%;
	position: relative;
	&__main-img {
		height: auto;
		width: 100%;
		object-fit: cover;
		border-radius: 8px;
	}
	&__minor-img {
		width: 20%;
		height: auto;
		position: absolute;
		&.left-handed-img {
			bottom: 5%;
			left: 3%;
			rotate: 8deg;
		}
		&.right-handed-img {
			bottom: 5%;
			right: 3%;
			rotate: -8deg;
		}
	}
}
