.navigation-menu {
	width: 100%;
	display: flex;
	align-items: flex-start;
	@include box-shadow-100();
	transition: all 0.3s;

	@media only screen and (max-width: 860px) {
		height: 60px;
	}

	&.sticky {
		background-color: $color-neutral-primary-background;
		position: fixed;
		top: 0;
		z-index: 10000;

		.navigation-menu__logo-container {
			height: 54px;

			a.logo-background > .logo {
				width: 59px;
				height: 44px;
			}
		}

		.navigation-header {
			display: none;
		}

		.desktop-navigation ul.desktop-navigation__menu-items .menu-item .dropdown-menu {
			top: 62px;
		}
	}

	&__logo-container {
		display: flex;
		width: 232px;
		height: 100px;
		padding: 0px 0px 24px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		flex-shrink: 0;
		@media only screen and (max-width: 465px) {
			width: 148px;
		}

		@media only screen and (max-width: 860px) {
			height: 54px;
			padding: 0px 14px;
		}

		a.logo-background {
			display: flex;
			padding: 0px 14px;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 8px;
			flex: 1 0 0;
			align-self: stretch;
			border: 0px solid $color-neutral-primary-background;
			background: $color-secondary-default;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			@media only screen and (max-width: 465px) {
				width: 148px;
			}

			.logo {
				background-image: url("../../GlobalStyles/icons/hella.png");
				background-repeat: no-repeat;
				width: 67px;
				height: 50px;

				@media only screen and (max-width: 860px) {
					width: 59px;
					height: 44px;
				}
			}
		}
	}

	.navigation-menu__content {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.hide {
		display: none;
	}

	.show {
		display: flex;
	}

	.navigation-header {
		display: flex;
		height: 38px;
		padding: 6px 24px;
		align-items: center;
		gap: 28px;
		align-self: stretch;
		color: $color-neutral-line-dark;

		@media only screen and (max-width: 1239px) {
			justify-content: flex-end;
		}

		@media only screen and (max-width: 860px) {
			display: none;
		}

		.navigation-header__title {
			font-size: 14px;
			font-weight: 600;
			line-height: 21px;
			flex: 1 0 0;

			@media only screen and (max-width: 1239px) {
				display: none;
			}
		}

		.navigation-header__links {
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 28px;

			.com-form {
				height: 28px;
				width: initial;

				.search-group {
					display: flex;
					height: 28px;
					// width: 160px;
					padding: 6px 6px 6px 8px;
					margin: 0;
					align-items: center;
					gap: 4px;

					&:focus ~ .icon-container {
						outline: 2px solid $color-primary-default;
					}
				}

				.icon-container {
					height: 28px;
					width: 32px;
				}
			}

			a {
				color: $color-neutral-secondary-background-dark;
				font-size: 14px;
				font-weight: 600;
				line-height: 21px;
				letter-spacing: 0.2px;
				transition: 0.8s;
				&:hover {
					color: $color-primary-default;
				}

				&.language {
					margin-top: -8px;

					span {
						position: relative;
						top: 7px;
					}
				}
			}
		}
	}

	.desktop-navigation {
		display: flex;
		padding: 0px 24px;
		align-items: center;
		gap: 16px;
		align-self: stretch;
		flex: 1 0 0;
		height: 62px;

		@media only screen and (max-width: 860px) {
			padding: 0;
		}

		ul.desktop-navigation__menu-items {
			display: flex;
			align-items: center;
			gap: 28px;
			flex: 1 0 0;
			align-self: stretch;
			height: 62px;

			@media only screen and (max-width: 1099px) {
				justify-content: flex-end;
			}

			@media only screen and (max-width: 860px) {
				display: none;
			}

			.menu-item {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				align-self: stretch;
				position: static;
				transition: all 0.3s ease-in;

				&:hover .dropdown-menu {
					display: flex;
					justify-content: flex-start;
					padding: 5vh 0 5vh 20vw;
				}

				&:hover > a.nav-lvl1::before {
					opacity: 1;
				}

				a.nav-lvl1 {
					color: $color-primary-default;
					font-size: 15px;
					font-weight: 700;
					line-height: 22px;
					text-transform: uppercase;
					position: relative;
					height: 100%;
					display: flex;
					align-items: center;

					&:hover::before {
						opacity: 1;
					}

					&::before {
						content: "";
						border-bottom: 6px solid $color-secondary-default;
						width: 100%;
						position: absolute;
						bottom: 0;
						transition: all 0.3s;
						opacity: 0;
					}

					&:after {
						content: attr(data-detail);
						position: absolute;
						top: 0px;
						width: 100%;
						left: 0;
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 0.7px;
						text-transform: uppercase;
						color: $color-neutral-secondary-background-dark;
					}
				}

				.dropdown-menu {
					display: none;
					width: 100%;
					padding: 32px 0px 64px 0px;
					align-items: flex-start;
					justify-content: center;
					gap: 60px;
					background: $color-neutral-primary-background;
					@include box-shadow-100();
					position: absolute;
					top: 100px;
					left: 0;

					.menu-desc {
						display: flex;
						width: 15%;
						padding-right: 80px;
						flex-direction: column;
						align-items: flex-start;
						gap: 24px;
						flex-shrink: 0;
						align-self: stretch;
						border-right: 1px solid $color-neutral-secondary-background;

						.headline {
							display: flex;
							padding-top: 12px;
							align-items: center;
							gap: 8px;
							align-self: stretch;

							span {
								color: $color-primary-default;
								font-size: 26px;
								font-weight: 700;
								line-height: 130%;
								letter-spacing: 0.26px;
							}
						}

						.desc {
							color: $color-text-disabled;
							font-size: 14px;
							font-weight: 400;
							line-height: 150%;
						}
					}

					.nav-lvl2,
					.nav-lvl3 {
						display: flex;
						width: 337px;
						flex-direction: column;
						align-items: flex-start;
						flex-shrink: 0;

						ul {
							width: 100%;
						}

						li {
							display: flex;
							align-items: center;
							gap: 8px;
							align-self: stretch;
							border-bottom: 1px solid $color-neutral-secondary-background;

							&:hover a::before {
								opacity: 1;
							}

							a {
								display: flex;
								position: relative;
								height: 60px;
								padding: 0px 32px 0px px;
								flex-direction: column;
								justify-content: center;
								align-items: flex-start;
								gap: 12px;
								flex: 1 0 0;

								&::after {
									content: "";
									position: absolute;
									right: 0;
									@include icon;
									background-color: $color-neutral-line-light;
									width: 32px;
									height: 32px;
									-webkit-mask-image: url("../../GlobalStyles/icons/chevronRight.svg");
									mask-image: url("../../GlobalStyles/icons/chevronRight.svg");
									-webkit-mask-repeat: no-repeat;
									-webkit-mask-position-y: center;
								}

								&:hover {
									background: $color-neutral-base-background;

									&::after {
										background-color: $color-primary-default;
									}
								}

								&.selected {
									span {
										font-weight: 700;
									}

									&::before {
										content: "";
										border-bottom: 4px solid $color-secondary-default;
										width: 100%;
										position: absolute;
										bottom: 0;
									}

									&::after {
										background-color: $color-primary-default;
									}
								}

								span {
									color: $color-primary-default;
									font-size: 15px;
									font-weight: 600;
									line-height: 150%;
									letter-spacing: 0.15px;
									padding-left: 12px;
								}
							}
						}
					}

					.nav-lvl3 {
						display: flex;
						width: 330px;

						ul {
							display: none;

							&.visible {
								display: block;
							}

							li > a::after {
								display: none;
							}
						}
					}
				}
			}
		}

		.nav-app {
			display: flex;
			height: 62px;
			padding-right: 0px;
			align-items: center;
			gap: 16px;
			align-self: stretch;

			.com-btn.btn--small {
				padding: 0.875rem 1rem 0.875rem 0.75rem;
			}

			@media only screen and (max-width: 1099px) {
				position: fixed;
				bottom: 0px;
				right: 10px;
			}
		}

		@media only screen and (min-width: 860px) {
			.sm-device-nav {
				display: none;
			}
		}

		@media only screen and (max-width: 860px) {
			.com-form {
				height: 28px;
				width: initial;

				.search-group {
					display: flex;
					height: 28px;
					padding: 6px 6px 6px 8px;
					margin: 0;
					align-items: center;
					gap: 4px;

					&:focus ~ .icon-container {
						outline: 2px solid $color-primary-default;
					}
					&.search-group--open {
						height: 40px;
					}
				}

				.search-group-container > .icon-container {
					height: 28px;
					width: 32px;
					&.icon-container--open {
						height: 40px;
						width: 45px;
					}
				}
				&.com-form--open {
					height: 40px;
					width: 100%;
					padding: 0 0 0 16px;
				}
			}
			.sm-device-nav {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 24px;
				flex: 1 0 0;
				height: 60px;

				.hamburger {
					display: flex;
					width: 60px;
					height: 60px;
					padding: 8px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8px;
					background: $color-secondary-default;
				}

				.close-btn {
					padding: 0 16px 0 0;
				}
			}
			ul.desktop-navigation__menu-items {
				display: none;
			}
		}
	}
}

.mobile-navigation-menu {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 9999;
	flex-direction: column;
	overflow-y: scroll;

	&__menu-item {
		display: flex;
		width: 100%;
		padding: 0 16px;
		height: 48px;
		color: $color-primary-default;
		align-items: center;
		text-transform: uppercase;
		justify-content: space-between;
		border-top: 2px solid $color-neutral-secondary-background;
		& > a {
			color: $color-primary-default;
		}
		&.submenu-item {
			padding: 0 32px;
		}
	}

	&__menu-headline {
		display: flex;
		width: 100%;
		padding: 0 16px;
		height: 48px;
		color: $color-primary-default;
		align-items: center;
		text-transform: uppercase;
		justify-content: space-between;
		border-top: 2px solid $color-neutral-secondary-background;
		& > a {
			color: $color-primary-default;
		}
	}

	&__bottom-submenu-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: $color-primary-default;
		border-bottom: 2px solid $color-neutral-secondary-background;

		.bottom-submenu {
			display: flex;
			flex-direction: row;
		}

		.bottom-submenu > a {
			display: flex;
			height: 48px;
			flex: 50%;
			align-items: center;
		}

		.bottom-submenu > a:nth-child(1) {
			padding: 0 16px;
			border-right: 2px solid $color-neutral-secondary-background;
			border-top: 2px solid $color-neutral-secondary-background;
		}

		.bottom-submenu > a:nth-child(2) {
			border-top: 2px solid $color-neutral-secondary-background;
			padding: 0 16px;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;
		height: 48px;
		width: 100%;
		color: white;
		background-color: $color-primary-default;

		.mobile-header-icons {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 12px;
		}
	}

	&.hideMenu {
		display: None;
	}
	&.showMenu {
		display: flex;
	}
}
.mobile-navigation-menu::-webkit-scrollbar {
	display: none;
}

.language-variant-old {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: white;
	height: auto;
	padding: 0 16px 0 16px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	overflow: auto;
	&__header {
		display: flex;
		height: 61px;
		flex-direction: column;
		justify-content: center;
		font-size: 15px;
		font-weight: 700;
		color: $color-neutral-line-dark;
	}
	&__country {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		.country-heading {
			color: $color-text-primary;
			font-size: 20px;
			font-weight: 700;
			margin: 0 0 20px 0;
		}
		.countries-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			// justify-content: space-between;
		}
	}
	.countries-container__country {
		display: flex;
		padding-left: 0px;
		align-items: center;
		gap: 12px;
		margin: 0 200px 24px 0;
	}
}

body.hella-gutmann nav {
	a.logo-background {
		background-color: $color-neutral-primary-gutmann;

		.logo {
			width: 175px;
			height: 36px;
			background-image: none;
			display: inline-block;
			background-color: $color-neutral-primary-background;
			text-align: center;
			-webkit-mask-image: url("../../GlobalStyles/icons/hellagutmann.svg");
			mask-image: url("../../GlobalStyles/icons/hellagutmann.svg");
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
		}
	}

	.desktop-navigation .menu-item::after {
		border-bottom: 6px solid $color-neutral-primary-gutmann;
	}
}
