/* TODO: change modification name base on usage */
hr.com-divider {
	border-top: 3px solid $color-neutral-line-light;
	width: 100%;
	&.divider--yellow {
		border-color: $color-secondary-default;
	}
	&.divider--dark-grey {
		border-color: $color-neutral-secondary-background-dark;
	}
}
