.com-alert {
	display: flex;
	width: 100%;
	padding: fromPxToRem(16);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: fromPxToRem(16);
	border-radius: fromPxToRem(8);

	&.alert--info {
		background-color: $color-primary-background;
	}
	&.alert--done {
		background-color: $color-success-background;
	}
	&.alert--warning {
		background-color: $color-warning-background;
	}
	&.alert--error {
		background-color: $color-danger-background;
	}

	.alert__header {
		display: flex;
		align-items: center;
		gap: fromPxToRem(8);
		align-self: stretch;

		.alert-title {
			font-size: fromPxToRem(18);
			font-style: normal;
			font-weight: 600;
			line-height: 150%;
			flex: 1 0 0;
		}

		.icon-close {
			cursor: pointer;
			// @include icon-size(16);
		}

		.icon-info,
		.icon-done,
		.icon-warning,
		.icon-error {
			// @include icon-size(20);
		}
	}
	.alert__body {
		display: flex;
		padding-left: 0px;
		align-items: flex-start;
		align-self: stretch;
		padding-left: 2rem;
		color: $color-text-secondary;

		.alert-message {
			font-weight: 400;
			line-height: 150%;

			a {
				color: $color-primary-default;
			}
		}
	}

	&.alert--small {
		padding: fromPxToRem(14) fromPxToRem(8);
		width: fromPxToRem(350);

		.alert-title {
			font-size: fromPxToRem(14);
		}
	}
}
