.mod-teaser-with-lines-fs {
	display: grid;

	@media screen and (min-width: 1152px) {
		&.reverse-order {
			.mod-teaser-with-lines-fs__image {
				grid-column-start: 9;
				order: 2;
			}

			.mod-teaser-with-lines-fs__teaser-detail {
				grid-column-start: 2;
				padding-left: 0;
				padding-right: fromPxToRem(28);
			}
		}
	}

	&__teaser-detail {
		align-items: center;
		display: flex;
		padding-left: fromPxToRem(28);
	}

	@media screen and (max-width: 1152px) {
		&__image {
			margin: fromPxToRem(40) 0;
		}
		&__teaser-detail {
			align-items: center;
			display: flex;
		}
	}

	.teaser-detail {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: fromPxToRem(26);
		padding: fromPxToRem(26) 0;
		border-top: 1px solid $color-secondary-default;
		border-bottom: 1px solid $color-secondary-default;

		&__headline {
			color: $color-text-secondary;
			font-size: fromPxToRem(20);
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			letter-spacing: 0.2px;
		}
	}
}
