.mod-instruction-navigation-fs {
	.mod-off-screen-menu {
		display: grid;
	}
	.mod-off-screen-menu__content.table-of-content {
		padding: 0;
	}
	.mod-off-screen-menu__content .link-item {
		border-left: 1px solid #f0f2f34f;
	}
	&__item {
		// margin: 32px 0;
	}
}

.mod-instruction-navigation-refactor-fs {
	&__anchor-target {
		scroll-margin-top: 100px;
	}
	.mod-instruction-navigation {
		display: grid;
	}
	.mod-instruction-navigation__content.table-of-content {
		padding: 0;
	}
	.mod-instruction-navigation__content .link-item {
		border-left: 1px solid #f0f2f34f;
	}
	&__item {
		margin: 60px 0;
	}
	&__anchor-target > *:last-child {
		margin-top: 60px;
	}
}
