.mod-form-fs {
	padding: 32px 0;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 32px;
	}
}

.mod-form-fs-container {
	background-color: $color-neutral-base-background;
}
