.mod-counter {
	display: inline-flex;
	padding: 12px 12px 20px 12px;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	border-radius: 8px;
	background: $color-neutral-base-background;
	&.horizontal {
		flex-direction: row;
		padding: 12px;
	}
	&__img {
		width: 83.478px;
		height: 60px;
		&.horizontal {
			width: 54.737px;
			height: 40px;
		}
	}
	&__number {
		font-weight: 700;
		font-size: 26px;
		&.horizontal {
			font-size: 20px;
		}
	}
	&__text {
		font-size: 14px;
		font-weight: 400;
		&.horizontal {
			font-size: inherit;
		}
	}
}
