.mod-dealer-finder {
    display: flex;
    height: 730px;
    padding-top: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;
    width: 100%;
    &__header {
        width: calc(50% - 4px);
        @media only screen and (max-width: 1105px) {
            width: 100%;
        }
        .heading {
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 20px 0;
            color: $color-neutral-secondary-background-dark;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 8px;
        @media only screen and (max-width: 1105px) {
            flex-direction: column-reverse;
        }
        .dealers-container {
            height: 600px;
            overflow-y: scroll;
            width: 50%;
            // background-color: gray;
            display: flex;
            flex-direction: column;
            // padding: 10px;
            gap: 16px;
            .mod-card--dealer.mod-card--horizontal {
                margin: 0 0 16px 0;
                // width: 524px;
            }
            @media only screen and (max-width: 1105px) {
                height: 50%;
                width: 100%;
            }
        }
        .map-container {
            width: 50%;
            position: relative;
            @media only screen and (max-width: 1105px) {
                height: 50%;
                width: 100%;
            }
            .google-map {
                -webkit-border-radius: 20px;
            }
           
           .google-map iframe {
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                position: absolute;
                padding: 1%;
                border-radius: 12px;
                box-shadow: 0px 0px 10px 1px $color-neutral-secondary-background;
           }
        }
    }
    .dealer-card-horizontal__container {
		width: 100%;	
	}
}