.com-info-box {
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	border: 1px solid $color-neutral-line-dark;
	.info-box-header {
		padding: 0 0 24px 0;
		border-bottom: 1px solid $color-secondary-default;
	}
	@include variant-gutmann(".com-info-box") {
		.info-box-header {
			border-bottom: 1px solid $color-neutral-primary-gutmann;
		}
	}
	.info-box-content {
		padding: 24px 0 0 0;
		display: flex;
		flex-direction: row;
		gap: 24px;
		@media screen and (max-width: 1500px) {
			flex-direction: column;
		}
		&__content-container {
			display: flex;
			flex-direction: column;
			gap: 40px;
			& > ul {
				padding: 0 0 0 24px;
			}
			.info-box-btn {
				& > a {
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					color: white;
				}
			}
		}
		&__img-container {
			& > img {
				width: 171px;
				height: 96px;
			}
		}
	}
}
