.mod-tab {
	display: inline-flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	&.border {
		border: none;
		&--bottom {
			border-bottom: 2px solid $color-primary-default;
		}
		&--left {
			border-left: 2px solid $color-primary-default;
		}
		&--right {
			border-right: 2px solid $color-primary-default;
		}
	}
	&.padding {
		padding: 8px 0;
		&--left {
			padding: 8px 0px 8px 16px;
		}
		&--right {
			padding: 8px 16px 8px 0px;
		}
		&--small-left {
			padding: 8px 0px 8px 8px;
		}
		&--small-right {
			padding: 8px 8px 8px 0px;
		}
	}
	&__text {
		font-weight: 600;
		color: $color-neutral-base-background-light;
		&--hovered {
			color: $color-primary-default;
		}
		&--picked {
			color: $color-btn-primary-dark;
		}
		&--small {
			font-size: 14px;
		}
	}
	&--small {
		height: 32px;
	}
}
