.com-image {
	.com-image-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;

		&.zoomed {
			position: fixed;
			top: 20%;
			left: 30%;
			margin-right: 30%;
			z-index: 1000;
			scale: 1.2;
			align-items: center;
			justify-content: start;
			// @media screen and (max-width: $max-content-width) {
			// 	left: 10%;
			// 	margin-right: 10%;
			// }
		}

		img {
			height: auto;
			object-fit: contain;
			width: 100%;

			&.img--radius {
				border-radius: 8px;
				&.with-caption {
					border-radius: 8px 8px 0 0;
				}
			}
			&.img-ration_auto {
				aspect-ratio: auto;
			}
			&.img--ratio_1-1 {
				aspect-ratio: 1 / 1;
			}
			&.img--ratio_4-3 {
				aspect-ratio: 4 / 3;
			}
			&.img--ratio_16-9 {
				aspect-ratio: 16 / 9;
			}
			&.img--ratio_21-9 {
				aspect-ratio: 21 / 9;
			}
		}

		.badge__container {
			position: absolute;

			&.top-left {
				top: 8px;
				left: 8px;
			}

			&.bottom-left {
				bottom: 8px;
				left: 8px;
			}
		}

		.image-zoom {
			cursor: pointer;
			position: absolute;
			bottom: 8px;
			right: 8px;
		}

		.image-close-icon {
			color: black;
			position: absolute;
			top: 8px;
			right: 12px;
			z-index: 1000;
			cursor: pointer;
		}

		/* Fading animation */
		.fade {
			animation-name: fade;
			animation-duration: 1.5s;
		}

		@keyframes fade {
			from {
				opacity: 0.4;
			}
			to {
				opacity: 1;
			}
		}
	}

	.caption {
		position: relative;
		padding: 16px 12px;
		width: 100%;
		border-radius: 0 0 8px 8px;
		background-color: $color-neutral-base-background;
	}
}
