.mod-product-detail-fs {
	&.reverse-order {
		.mod-product-detail-fs__carousel {
			grid-column-start: 9;
			order: 2;
			@media screen and (max-width: 1152px) {
				grid-column-start: unset;
				order: 1;
			}
		}
		.mod-product-detail-fs__text {
			grid-column-start: 2;
			@media screen and (max-width: 1152px) {
				grid-column-start: unset;
				order: 1;
			}
		}
	}

	&__carousel {
		.mod-carousel .carousel-zoom.with-thumbnails {
			bottom: 190px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 32px;
		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			li {
				display: flex;
				flex-direction: row;
				gap: 8px;
				align-items: center;
				justify-content: flex-start;
				& > p {
					width: 100%;
				}
			}
		}
		// .list-of-features {
		// 	display: flex;
		// 	flex-direction: column;
		// 	gap: 20px;
		// 	&__item {
		// 		display: flex;
		// 		flex-direction: row;
		// 		gap: 8px;
		// 		align-items: center;
		// 		justify-content: flex-start;
		// 		& > p {
		// 			width: 100%;
		// 		}
		// 	}
		// }
		.button-container {
			display: flex;
			flex-direction: row;
			gap: 16px;
		}
	}
}
